# Criado por https://www.toptal.com/developers/gitignore/api/linux,visualstudiocode,windows,dotnetcore
# Edite em https://www.toptal.com/developers/gitignore?templates=linux,visualstudiocode,windows,dotnetcore

### DotnetCore ###
# Pastas de compilação do .NET Core
lata/
objeto/
/bin/
/obj/

# Localizações comuns de módulos de nós
/módulos_de_nó
/wwwroot/módulos_de_nó

### Linux ###
*~

# arquivos temporários que podem ser criados se um processo ainda tiver um identificador aberto de um arquivo excluído
.fuse_oculto*

# Preferências do diretório KDE
.diretório

# Pasta de lixo do Linux que pode aparecer em qualquer partição ou disco
.Lixo-*

# Os arquivos .nfs são criados quando um arquivo aberto é removido, mas ainda está sendo acessado
.nfs*

### Código do VisualStudio ###
.vscode/*
!.vscode/configurações.json
!.vscode/tarefas.json
!.vscode/launch.json
!.vscode/extensões.json
!.vscode/*.trechos-de-código

# Histórico local para o Visual Studio Code
.história/

# Extensões de código do Visual Studio criadas
*.vsix

### Patch do VisualStudioCode ###
# Ignorar todo o histórico local de arquivos
.história
.ionídeo

### Janelas ###
# Arquivos de cache de miniaturas do Windows
Polegares.db
Thumbs.db:criptografável
ehthumbs.db
ehthumbs_vista.db

# Arquivo de despejo
*.despejo de pilha

# Arquivo de configuração de pasta
[Dd]esktop.ini

# Lixeira usada em compartilhamentos de arquivos
$RECICLAGEM.BIN/

# Arquivos do Windows Installer
*.táxi
*.msi
*.msix
*.msm
*.msp

# Atalhos do Windows
*.lnk

# Fim de https://www.toptal.com/developers/gitignore/api/linux,visualstudiocode,windows,dotnetcore/obj/